<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col">
      <div class="footer-col-wrapper">
        <p>
          <strong>{{ site.title | escape }}</strong>
        </p>
        <p>
          {{ site.description | escape }}
        </p>

        <p>
          Subscribe via
          <a href="https://feeds.feedburner.com/BenjaminOakes">RSS</a>,
          <a href="https://feedburner.google.com/fb/a/mailverify?uri=BenjaminOakes&loc=en_US">Email</a>,
          or <a target="_blank" href="https://twitter.com/{{site.github_username}}">Twitter</a>.
          <a href="/all_posts/">All posts</a>.
        </p>
        <p>
          <a target="_blank" href="https://github.com/{{site.github_username}}">GitHub</a>
          | <a target="_blank" href="https://www.linkedin.com/in/benjaminoakes/">LinkedIn</a>
          | <a target="_blank" href="http://stackoverflow.com/users/146764/benjamin-oakes">StackOverflow</a>
        </p>

        <p><small>&copy; 2002-{{ site.time | date: '%Y' }} Benjamin Oakes</small></p>
      </div>
    </div>
  </div>

</footer>
