---
id: 1035
title: 'travis-watch -- Stream live Travis CI test results'
date: 2017-03-23T15:55:47+00:00
author: Ben
layout: post
guid: http://www.benjaminoakes.com/?p=1035
permalink: /2017/03/23/travis-watch-stream-live-travis-ci-test-results/
categories:
  - Programming
tags:
  - ci
  - cli
  - terminal
  - travis
---
> Stream live travis test results of the current commit to your terminal. Exits with the proper exit code too!

Source: [juliangruber/travis-watch](https://github.com/juliangruber/travis-watch)